[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
requests = "*"
mysql-connector-python = "*"
pandas = "*"
sql-metadata = "*"
flask-socketio = "*"
pyftpdlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
